.pp {
    text-align: center;
    justify-content: center;
    margin: 2rem;
    /* margin-top: 100px; */
    color: white;
}

body {
    background-color: #7ab3ff;
}

h1 {
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: rgb(46, 45, 45);
}